html {
	height: 100%;
	max-height: 100vh;
	max-width: 100vw;
}
body {
	min-height: 100%;
	max-height: 100vh;
	max-width: 100vw;
	margin: 0;
}
.root {
	position: relative;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	min-width: 100vw;
	max-width: 100vw;
	min-height: 100vh;
	max-height: 100vh;
}
.main {
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: auto;
	margin-top: 8;
	margin-bottom: 2;
	max-height: 90vh;
	/* min-width:  100vw; */
}
.menu {
	width: 90%;
	padding: 1%;
	margin: 1%;
}
.menu-panel {
	opacity: 90%;
	min-width: 30%;
	border-radius: 10px;
	box-shadow: black;
	margin: 1%;
	padding: 2.5%
}
#left-panel {
	flex-grow: 2;
	flex-shrink: 1;
}
#rigth-panel {
	flex-grow: 1;
	flex-shrink: 2;
}
.nav {
	color: black;
	text-decoration: none;
	padding: 10px;
	--scaler: 1;
	transform: scale(var(--scaler));
}
.nav:hover {
	--scaler: 1.1;
}
.footer {
	min-width: 100vw;
	align-self: center;
	padding-top: 2%;
	padding-bottom: 2%;
	margin-top: 'auto';
	background-color: #333333;
	opacity: 90%;
}
.form-element {
	display: flex;
	flex-direction: row;
	margin-bottom: 40px;
	justify-content: right;
}
.form-text {
	font-size: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 1%;
	
}
.icon {
	width: 15%;
}
.avatar {
	border-radius: 50%;
	border-style: solid;
	padding: 1.5%;
	margin: 3%;
	
}
.arrow {
	max-width: 15%;
	max-height: 30%;
	top: 50%;
}
#room {
	max-width: 100vw;
	/* margin: 0 0%; */
}
#return-button {
	max-width: 3%;
}
#room-game {
	flex-grow: 3;
	flex-shrink: 1;
	max-width: 65%;
}
#room-chat {
	padding: 1.5%;
	flex-grow: 1;
	flex-shrink: 2;
	border-radius: 10px;
	margin: .3%;
	max-height: 90vh;
	min-width: 20vw;
	max-width: 15%;
	/* max-width: 30vw;
	min-width: 25vw; */
	opacity: 95%;
}
#game-table {
	padding: 1%;
	flex-grow: 5;
	margin: 1%;
}
#table {
	max-height: 50%;
	max-width: 60%;
	margin: 1%;
	transform: translate(-40px, -40px);
}
.player {
	height: 80px;
	width: 80px;
	padding-bottom: 1%;
	border: 2px;
	border-style: solid;
	border-radius: 50%;
	--scaler: 1;
	position: relative;
	transform: scale(var(--scaler)) ;
	/* transform: translateY(-40px); */
}
.player:hover {
	--scaler: 1.2;
	z-index: 1;
	/* --z: .001; */
}
.alive {
	margin-top: 2px;
	margin-bottom: 2px;
	color: black;
}
.dead {
	margin-top: 2px;
	margin-bottom: 2px;
	color: #C03D29;
}
#game-console {
	flex-grow: 2;
	max-height: 30%;
	/* max-width: 90%; */
	/* background-color: darkorange; */
}
#game-log {
	max-width: 50%;
	padding: 2%;
	flex-grow: 3;
	flex-shrink: 1;
	overflow: auto;
	scrollbar-width: none;
	margin: 1%;
}
.warning-log {
	font-size: 14px;
	color: #C03D29;
}
.info-log {
	font-size: 14px;
	color: white;
}
#game-word { 
	flex-grow: 1;
	flex-shrink: 1;
	max-width: 25%;
	margin: 1%;
	--scaler: 1;
	transform: scale(var(--scaler));
}
#game-word:hover {
	--scaler: 1.1;
}
#game-vote {
	max-width: 25%;
	flex-grow: 1;
	flex-shrink: 2;
	margin: 1%;
	--scaler: 1;
	transform: scale(var(--scaler));
}
#game-vote:hover {
	--scaler: 1.1;
}
#vote-modal {
	border-radius: 10%;
	scrollbar-width: none;
	height: 200px;
	width: 200px;
	overflow: auto;
}
#vote-card {
	/* max-height: 200px; */
	overflow: auto;
}
.vote-item {
	margin: 1px
}
.non-votable {
	visibility: hidden;
}
#chat-box {
	overflow: auto;
	scrollbar-width: none;
	flex-grow: 10;
	max-height: 85%;
	padding: 5% 5%;
}
#chat-box:hover {
	overflow: auto;
}
#chat-bar {
	padding-top: 2%;
	margin-top: 15px;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 4%;
}
.chat-user {
	font-size: 14px;
	margin-top: 5px;
	margin-bottom: 2px;
}
.chat-content {
	font-size: 12px;
	margin-top: 2px;
	margin-bottom: 5px;
}
.chat-balloon {
	margin: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 6px;
	max-width: 90%;
	--scaler: 1;
	transform: scale(var(--scaler));
}
.chat-balloon:hover {
	--scaler: 1.05;
}
.modal-card {
	width: 40vh;
	height: 40vh;
}
.mine {
	/* background-color: #a5ef7f; */
}
.others {
	/* background-color: lightblue; */
}
input {
	outline: 0;
	border-width: 0 0 2px;
	border-color: grey;
}
input[type="text"] {
	/* border-width: 10px; */
}
input[type="number"] {
	background: transparent;
	border-width: 0 0 0 0;
}
input::placeholder {
	color: white;
}
input:focus {
	/* outline: none; */
	border-color: rgb(51, 170, 206);
}
button {
	border: 0;
	background-color: inherit;
}
link {

}
::-webkit-scrollbar-track {
	background: white;
}
::-webkit-scrollbar-track-piece {
	background-color: white;
}
.rounded {
	border-radius: 10px;
}
.fc {
	display: flex;
	flex-direction: column;
}
.fcr {
	display: flex;
	flex-direction: column-reverse;
}
.fr {
	display: flex;
	flex-direction: row;
}
.c-container {
	justify-content: center;
}
.c-item {
	align-self: center;
}
/* positions */
.con-relative {
	position: relative;
}
.i-absolute {
	position: absolute;
}
.txt-center {
	text-align: center;
}
/* .l-item {
} */
/* colors */
/* text */
.txt-white {
	color: white;
}
.txt-yankees-blue {
	color: #161b36;
}
.txt-space-cadet {
	color: #242b4b;
}
.txt-police-blue {
	color: #35475f;
}
.txt-yankees-blue-too {
	color: #102849;
}
/* fonts */
.txt-fredoka {
	/* font-family: 'Fredoka One', cursive; */
	font-family: 'Fredoka One';
}
/* background */
.bg-white {
	background-color: white;
}
.bg-grey {
	background-color: grey;
}
.bg-red {
	background-color: red;
}
.bg-blue {
	background-color: lightblue;
}
.bg-yankees-blue {
	background-color: #161b36;
}
.bg-rich-black {
	background-color: #00010D;
}
.bg-raisin-black {
	background-color: #212326;
}
.bg-black-olive {
	background-color: #3B3D40;
}
.bg-davys-grey {
	background-color: #525659;
}
/* icons bg color */
.bg-pastel-red {
	background-color: #FF6962;
}
.bg-melon {
	background-color: #FFB6B3;
}
.bg-pale-pink {
	background-color: #FFD5D4;
}
.bg-bright-gray {
	background-color: #E7F1E8;
}
.bg-tea-green {
	background-color: #BDE7BD;
}
.bg-pastel-green {
	background-color: #77DD76;
}
.bg-dark-sky-blue {
	background-color: #8bb4c7;
}
.bg-pastel-blue {
	background-color: #afc7ce;
}
.bg-light-yellow {
	background-color: #fffee4;
}
.bg-blond {
	background-color: #f9f0bc;
}

.transparent {
	opacity: 90%;
}
.v-center {
	margin: 0;
	/* position: absolute; */
	/* top: -50%; */
	-ms-transform: translateY(50%);
	transform: translateY(50%);
}
#avatar-choice {
	align-items: baseline;
}
.popping {
	--scaler: 1;
	transform: scale(var(--scaler));
}
.popping:hover {
	--scaler: 1.2;
}