html {
	height: 100%;
}
body {
	min-height: 100%;
}
.root {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-image: url(../assets/bg.jpg);
	max-height: 100vh;
}
.main {
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: auto;
	margin-top: 8;
	margin-bottom: 2;
	max-height: 90vh;
}
.menu {
	width: 90%;
	padding: 1%;
	margin: 1%;
}
.menu-panel {
	opacity: 90%;
	min-width: 30%;
	border-radius: 10px;
	box-shadow: black;
	margin: 1%;
	padding: 2.5%
}
#left-panel {
	flex-grow: 2;
	flex-shrink: 1;
}
#rigth-panel {
	flex-grow: 1;
	flex-shrink: 2;
}
.nav {
	color: black;
	text-decoration: none;
	padding: 10px;
}
.footer {
	min-width: 100vw;
	align-self: center;
	padding-top: 2%;
	padding-bottom: 2%;
	margin-top: 'auto';
	background-color: #333333;
	opacity: 90%;
}
.form-element {
	display: flex;
	flex-direction: row;
	margin-bottom: 40px;
	justify-content: right;
}
.form-text {
	font-size: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 1%;
	
}
.icon {
	/* max-height: 1%; */
	max-width: 15%;
}
.avatar {
	border-radius: 50%;
	border-style: solid;
	padding: 2%;
	margin: 4%;
	
}
.arrow {
	max-width: 15%;
	max-height: 30%;
	top: 50%;
}
#room {
	margin: 0 1%;
}
#return-button {
	max-width: 3%;
}
#room-game {
	flex-grow: 3;
	flex-shrink: 1;
}
#room-chat {
	padding: 1.5%;
	flex-grow: 1;
	flex-shrink: 2;
	border-radius: 10px;
	margin: .3%;
	max-height: 90vh;
	opacity: 95%;
}
#game-table {
	padding: 1%;
	flex-grow: 5;
	margin: 1%;
	background-color: #D0B092;
	/* background-image: url('../assets/wood.jpg'); */
}
#table {
	max-height: 50%;
	max-width: 60%;
	margin: 1%
}
.player {
	height: auto;
	padding-bottom: 1%;
	border-radius: 50%;
}
.player::before {
	content: '';
	padding-top: 100%;
}
.alive {
	margin-top: 2px;
	margin-bottom: 2px;
	color: black;
}
.dead {
	margin-top: 2px;
	margin-bottom: 2px;
	color: red;
}
#game-console {
	flex-grow: 2;
	max-height: 30%;
	/* max-width: 90%; */
	/* background-color: darkorange; */
}
#game-log {
	max-width: 50%;
	padding: 2%;
	flex-grow: 3;
	flex-shrink: 1;
	overflow: auto;
	scrollbar-width: 0;
	margin: 1%;
}
.warning-log {
	font-size: 14px;
	color: #C03D29;
}
.info-log {
	font-size: 14px;
	color: #1F1F29;
}
#game-word { 
	flex-grow: 1;
	flex-shrink: 1;
	max-width: 25%;
	margin: 1%;
}
#game-vote {
	max-width: 25%;
	flex-grow: 1;
	flex-shrink: 2;
	margin: 1%;
}
#chat-box {
	overflow: auto;
	flex-grow: 10;
	max-height: 90%;
	padding: 5% 5%;
}
#chat-box:hover {
	overflow: auto;
}
#chat-bar {
	padding-top: 2%;
	margin-top: 15px;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 4%;
}
.chat-user {
	font-size: 14px;
	margin-top: 5px;
	margin-bottom: 2px;
}
.chat-content {
	font-size: 12px;
	color: grey;
	margin-top: 2px;
	margin-bottom: 5px;
}
.chat-balloon {
	margin: 5px;
	padding: 2px;
	border-radius: 6px;
	max-width: 90%;
}
.mine {
	background-color: #a5ef7f;
}
.others {
	background-color: lightblue;
}
input {
	outline: 0;
	border-width: 0 0 2px;
	border-color: grey;
}
input:focus {
	/* outline: none; */
	border-color: rgb(51, 170, 206);
}
button {
	border: 0;
	background-color: inherit;
}
link {

}
::-webkit-scrollbar-track {
	background: white;
}
::-webkit-scrollbar-track-piece {
	background-color: white;
}
.rounded {
	border-radius: 10px;
}
.fc {
	display: flex;
	flex-direction: column;
}
.fr {
	display: flex;
	flex-direction: row;
}
.c-container {
	justify-content: center;
}
.c-item {
	align-self: center;
}
/* .l-item {

} */
.txt-white {
	color: white;
}
.bg-white {
	background-color: white;
}
.bg-grey {
	background-color: grey;
}
.bg-red {
	background-color: red;
}
.bg-blue {
	background-color: lightblue;
}
.transparent {
	opacity: 90%;
}
.v-center {
	margin: 0;
	/* position: absolute; */
	/* top: -50%; */
	-ms-transform: translateY(50%);
	transform: translateY(50%);
}
#avatar-choice {
	align-items: baseline;
}
